
.container {
    background-color:red; 
    width: 180px;
    height: 200px;
    margin: auto;
}
.row{
    display: flex;
    flex-grow: 1;
    background-color:blue;
}
.gameBoard{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.btn{
    flex-grow: 1;
    margin:3px;
    font-size:2em;
    font-weight:bold;
    width: 50px;   
    height: 50px;
}
.title{
    font-size:1em;
    text-align:center;
    color: rgb(21, 171, 197)
}
.controls{
    text-align:center;
}
.xbtn{
    color: rgb(17, 122, 27)
}
.obtn{
    color: red;
}